@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

:root {
    --color-letras: rgb(189, 189, 189);
    --color-btn-active: #2A7AE4;
    --color-btn: #9E9E9E;
    --color-letras-negras: rgb(16, 16, 16);
  }

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    /* color: red; */
}
.container{
    width: 100%;
    /* height: 10vh; */
    /* border: dotted rgb(10, 10, 100) 5px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background: #FFF; */
    font-family: 'Roboto', sans-serif;
    /* padding-left: 50px; */
    /* color: red; */
}


    .container__titles{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
        .container__titles__part{
            width: 50%;
        }

    .container__left{
        width: 50%;
        /* border: solid red 3px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .title{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            /* border: dotted 2px goldenrod; */
            width: 100%;
        }

            .text{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                /* border: dotted 2px rgb(32, 218, 116); */
            }

                .text p {
                    color: #1E1E1E;
                    font-family: Poppins;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    margin: auto;
                }
            .line__gray{
                background-color: gray;
                width: 40%;
                height: 2px;
            }


            .card__sale__right{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                /* border: solid blue 3px; */
            }
    .container__right{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: solid rgb(2, 33, 133) 3px; */
    }